<?xml version="1.0"?>
<model>
    <name>dobot</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>
    <author>
        <name>Tejas</name>
        <email>your@email.com</email>
    </author>
    <description>
        Dobot robotic arm model for Gazebo simulation.
    </description>
</model>
